<form [formGroup]="formEditar" class="login-form" (ngSubmit)="onSend($event)" >
  <div class="form-group mb-3">
    <label for="nombreEmpresa">Nombre de la empresa </label>
    <input
    class="form-control"
    formControlName="nombreEmpresa"
    id="nombreEmpresa"
    [ngClass]="{'is-invalid': NombreEmpresa?.errors && NombreEmpresa?.touched, 'is-valid' : !NombreEmpresa?.errors && NombreEmpresa?.touched}"
    >
    <div *ngIf="NombreEmpresa?.errors && NombreEmpresa?.touched">
      <p *ngIf="NombreEmpresa?.hasError('required')" class="text-danger">
        El Nombre de la empresa es requerido
      </p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="puesto">Ingrese el puesto que cumplia en la empresa</label>
    <input
    class="form-control"
    id="puesto"
    formControlName="puesto"
    [ngClass]="{'is-invalid': Puesto?.errors && Puesto?.touched, 'is-valid' : !Puesto?.errors && Puesto?.touched}"
    >
    <div *ngIf="Puesto?.errors && Puesto?.touched">
      <p *ngIf="Puesto?.hasError('required')" class="text-danger">
        Ingrese el puesto
      </p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="fechaInicio">Ingrese el año en el que ingreso al trabajo </label>
    <input
    class="form-control"
    id="fechaInicio"
    formControlName="fechaInicio"
    [ngClass]="{'is-invalid': FechaInicio?.errors && FechaInicio?.touched, 'is-valid' : !FechaInicio?.errors && FechaInicio?.touched}"
    >
    <div *ngIf="FechaInicio?.errors && FechaInicio?.touched">
      <p *ngIf="FechaInicio?.hasError('required')" class="text-danger">
        Ingrese un año
      </p>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="fechaFin">Ingrese el año el que dejo de trabajar en ese lugar </label>
    <input
    class="form-control"
    id="fechaFin"
    formControlName="fechaFin"
    [ngClass]="{'is-invalid': FechaFin?.errors && FechaFin?.touched, 'is-valid' : !FechaFin?.errors && FechaFin?.touched}"
    >
    <div *ngIf="FechaFin?.errors && FechaFin?.touched">
      <p *ngIf="FechaFin?.hasError('required')" class="text-danger">
        Ingrese el año de fin
      </p>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
