<div class="card mat-card">
  <div class="card-titles">
    <h2>Proyectos</h2>
    <div *ngIf="userloged">
      <div class="btn-edit" (click)="mostrarAniadirProyecto = !mostrarAniadirProyecto">
        <i class="fa fa-plus"></i>
      </div>
      <div class="card mat-card" *ngIf="mostrarAniadirProyecto">
        <app-proyecto></app-proyecto>
      </div>
      <div class="btn-edit" (click)="mostrarBorrarProyecto = !mostrarBorrarProyecto">
        <i class="fa fa-trash"></i>
      </div>
      <div class="card mat-card" *ngIf="mostrarBorrarProyecto">
        <app-borrarproye></app-borrarproye>
      </div>
    </div>
  </div>
  <ul class="items-list">
    <li *ngFor="let proye of proyectosList">
      <div class="m-3 data-container">
        <div class="list-info">
          <h3>Nombre: {{proye.name}}</h3>
          <h4>{{proye.description}}</h4>
        </div>
      </div>
      <h5>
        {{proye.tech}}
      </h5>
    </li>
  </ul>
</div>
