<div class="card mat-card" id="first-card">
  <div id="profile-back"><img [src]="miPort.back_img">
  </div>
  <div id="info" style="padding: 16px;">
    <div id="info-img">
      <img class="profile-image" [src]="miPort.profile_img" alt="Profile picture">
      <div *ngIf="userloged">
        <div class="btn-edit" (click)="mostrarEditarFotoPerfil = !mostrarEditarFotoPerfil">
          <i class="fa fa-pen"></i>
        </div>
      </div>
    </div>
    <div *ngIf="userloged">
      <div class="card mat-card" *ngIf="mostrarEditarFotoPerfil">
        <app-editar-foto-perfil></app-editar-foto-perfil>
      </div>
    </div>
    <div id="info-data">
      <div>
        <h1>{{miPort.nombre}}</h1>
        <div *ngIf="userloged">
          <div class="btn-edit" (click)="mostrarEditarInfoPersonal = !mostrarEditarInfoPersonal">
            <i class="fa fa-pen"></i>
          </div>
        </div>
        <div id="info-company">
          {{miPort.ocupation}}
        </div>
        <div id="info-contact">
          <span>{{miPort.location}}</span>
          <br>
        </div>
      </div>
    </div>
    <div class="card mat-card" *ngIf="mostrarEditarInfoPersonal">
      <app-editar-infopersonal></app-editar-infopersonal>
    </div>
    <br>
    <div id="info-actions">
      <button type="button" class="btn btn-primary" (click)="mostrarDatos = !mostrarDatos">Información de contacto</button>
    </div>
  </div>
</div>
<div class="card mat-card" *ngIf="mostrarDatos">
  <app-infocontacto></app-infocontacto>
</div>
