body  {
  background-color: rgb(255, 242, 248);
}
div  {
  background-color: rgb(255, 242, 248);

  border-radius:  32px 32px 0 0;;
  border-color: rgb(180, 34, 102);
}

i.fa {
  width: fit-content;
  margin-inline-end: auto;
  padding-right: 0%;
  position: relative;
  left: 154px;
  bottom: 34px;
}
div.card.mat-card{
  z-index: 999;
  border-radius: 5px 5px;
  padding: 10px;
  margin: 5px;
}
