<form [formGroup]="formBorrar" class="login-form" (ngSubmit)="onSend($event)" >
  <div class="form-group mb-3">
    <label for="name">Ingrese el nombre del proyecto a eliminar</label>
    <input
    class="form-control"
    id="name"
    formControlName="name"
    [ngClass]="{'is-invalid': Name?.errors && Name?.touched, 'is-valid' : !Name?.errors && Name?.touched}"
    >
    <div *ngIf="Name?.errors && Name?.touched">
      <p *ngIf="Name?.hasError('required')" class="text-danger">
        Ingrese el proyecto a eliminar
      </p>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
