<div class="card mat-card">
  <div class="card-titles">
    <h2>Experiencia</h2>
    <div *ngIf="userloged">
      <div class="btn-edit" (click)="mostrarAniadirXp = !mostrarAniadirXp">
        <i class="fa fa-plus"></i>
      </div>
      <div class="card mat-card" *ngIf="mostrarAniadirXp">
        <app-xperience></app-xperience>
      </div>
      <div class="btn-edit" (click)="mostrarBorrarXp= !mostrarBorrarXp">
        <i class="fa fa-trash"></i>
      </div>
      <div class="card mat-card" *ngIf="mostrarBorrarXp">
        <app-borrarxp></app-borrarxp>
      </div>
  </div>
  <ul class="items-list">
    <li *ngFor="let xp of xpList">
      <div class="m-3 data-container">
        <div class="list-info">
          <h3>{{xp.nombreEmpresa}}</h3>
          <h4>{{xp.puesto}}</h4>
        </div>
      </div>
        <h4>
          {{xp.fechaInicio}} - {{xp.fechaFin}}
        </h4>
    </li>
  </ul>
</div>
