<div class="card mat-card">
  <div id="educacion">
    <div class="card-titles">
      <h2>Educación</h2>
      <div class="btn-edit" (click)="mostrarAniadirEdu = !mostrarAniadirEdu">
        <i class="fa fa-plus"></i>
      </div>
      <div class="card mat-card" *ngIf="mostrarAniadirEdu">
        <app-education></app-education>
      </div>
    </div>
  </div>

  <ul class="items-list">
    <li *ngFor="let edu of educacionList">
      <div class="m-3 data-container">
        <a [href]="edu.page">
          <div class="logo-image-container">
            <img
            [src]="edu.img"
            class="m-3 logo-image">
          </div>
        </a>
        <div class="list-info">
          <div>
            <h3>{{edu.school}}</h3>
            <p><span>{{edu.title}}</span></p>
            <h4>{{edu.fecha_inicio}} - {{edu.fecha_fin}}</h4>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
