<div class="card mat-card">
  <div class="card-titles">
    <div *ngIf="userloged">
      <div class="btn-edit" (click)="mostrarEditarInfoContacto = !mostrarEditarInfoContacto">
        <i class="fa fa-pen"></i>
      </div>
    <div class="card mat-card" *ngIf="mostrarEditarInfoContacto">
      <app-editar-infocontacto></app-editar-infocontacto>
    </div>
  </div>
</div>
  <div>
    <h2>Email: {{infoContacto.mail}}</h2>
    <h2>Telefono: {{infoContacto.phone}}</h2>
  </div>
  <div>
    <input id="edit-acercade" type="text" style="display:none">
  </div>
</div>
