body  {
  background-color: rgb(255, 242, 248);
}
div  {
  background-color: rgb(255, 242, 248);


  border-color: rgb(221, 61, 136);
}
div.m-3.data-container{
  border: 1px ;
  border-radius: 1%;
  width: fit-content;
  display: inline-flex;
  box-shadow: 2px 2px 20px 10px rgb(189, 190, 190);


}
  div.list-info {
    border-radius: 5%;
  }

ul{
  list-style: none;
}
