<form [formGroup]="formBorrar" class="login-form" (ngSubmit)="onSend($event)" >
  <div class="form-group mb-3">
    <label for="about">Copie y pegue el acerca de mi que quiere borrar </label>
    <input
    class="form-control"
    id="about"
    formControlName="about"
    [ngClass]="{'is-invalid': About?.errors && About?.touched, 'is-valid' : !About?.errors && About?.touched}"
    >
    <div *ngIf="About?.errors && About?.touched">
      <p *ngIf="About?.hasError('required')" class="text-danger">
        Ingreselo
      </p>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
